// Container
.container {
  max-width: ($containerWidth + $containerPadding) + px;
  width: 100%;
  margin: 0 auto;
  padding: 0 $containerSidePadding + px;

  @media (max-width: $breakpoint1240) {
    max-width: 1200px;
  }

  @media (max-width: $breakpoint992) {
    max-width: 970px;
  }

  @media (max-width: $breakpoint768) {
    max-width: 740px;
  }

  @media (max-width: $breakpoint480) {
    max-width: none;
  }
}

// Body Locked
body {
  &.locked {
    overflow: hidden;
  }
  color: $mainColor;
  font-size: 18px;
  font-family: $fontMain;
  background-color: #ffffff;
}

.button {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding: 25px 90px;
  border: 1px solid $mainColor;
  background-color: transparent;
  @media (max-width: $breakpoint1024) {
    font-size: 14px;
    padding: 15px 70px;
  }
}

.form__input {
  width: 375px;
  height: 70px;
  outline: none;
  border-bottom: 3px solid #0f0f0f;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #0f0f0f;
  &::placeholder {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #0f0f0f;
    letter-spacing: 0.07em;
    font-family: $fontMain;
  }
}

.form__btn {
  padding: 24px 150px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.07em;
  color: #fff;
  text-transform: uppercase;
  background-color: #0f0f0f;
}

.error {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.07em;
  color: #d00000;
}

.error__input {
  border-bottom: 3px solid #d00000;
  &::placeholder {
    color: #d00000;
  }
}

// Animations
// Fade
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
