// Header
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 135px;
  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: $burgerBreakpoint) {
      display: none;
    }
    &__item {
      margin-right: 26px;
      &:last-of-type {
        margin-right: 35px;
      }
      &:first-of-type::after {
        content: url("../img/header_arrow.svg");
        margin-left: 7px;
      }
      &-link {
        font-size: 14px;
        font-weight: 700;
        color: $mainColor;
        @media (max-width: $breakpoint1240) {
          font-size: 12px;
        }
      }
    }
  }
  &__logo {
    padding-top: 33px;
    flex: 1 1 auto;
    &__link {
      &__svg {
        width: 122px;
        height: 104px;
      }
    }
  }
  &__icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-link {
      margin-right: 73px;
      @media (max-width: $breakpoint1240) {
        margin-right: 20px;
      }
      &:last-of-type {
        margin-right: 0;
      }
      &-svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}

// burger

.burger {
  display: none;
  cursor: pointer;
}

// Burger menu styles
@media screen and (max-width: $burgerBreakpoint) {
  // .menu
  .menu {
    position: fixed;
    // background: #131418;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: none;

    &.active {
      display: flex;
      left: 0;
      top: 0;
      height: 100vh;
      width: 100vw;
      flex-direction: column;
      pointer-events: all;
      justify-content: center;
      align-items: center;
      z-index: 22;
      animation: fade 0.1s linear;
      background: #131418;
    }
  }

  // .burger
  .burger {
    display: block;
    position: relative;
    height: 20px;
    margin-left: 30px;
    width: 30px;
    z-index: 102;
    cursor: pointer;

    &.active-burger {
      &:before {
        background: $burgerActiveColor;
        transform: rotate(45deg);
        transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
        top: 8px;
      }

      &:after {
        background: $burgerActiveColor;
        transform: rotate(-45deg);
        bottom: 10px;
        transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
      }

      & span {
        transform: scale(0);
      }
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      height: 2px;
      width: 100%;
      background: $burgerColor;
      transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    }

    &:before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      position: absolute;
      top: 9px;
      right: 0;
      width: 100%;
      background: $burgerColor;
      height: 2px;
      transform: scale(1);
      transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    }
  }

  // .menu__item
  .menu__item {
    margin-top: 15px;
  }

  // .menu__link
  .menu__item-link {
    color: #fff !important;
  }
}
