// Header
header .container {
  position: relative;
}
// svg
#logo {
  width: 122px;
  height: 104px;
  @media (max-width: $burgerBreakpoint) {
    width: 50px;
    height: 42px;
  }
}

#search-svg,
#heart,
#shop,
#login {
  width: 30px;
  height: 30px;
  @media (max-width: $burgerBreakpoint) {
    width: 25px;
    height: 25px;
  }
}

// --------------------
.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 135px;
  z-index: 10;
  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: $burgerBreakpoint) {
      display: none;
    }
    &__item {
      margin-right: 26px;
      @media screen and (max-width: $burgerBreakpoint) {
        margin-right: 0;
      }

      &:last-of-type {
        margin-right: 35px;
        @media screen and (max-width: $burgerBreakpoint) {
          margin-right: 0;
        }
      }
      &:first-of-type::after {
        content: url("../img/header_arrow.svg");
        margin-left: 7px;
        @media screen and (max-width: $burgerBreakpoint) {
          display: none;
        }
      }
      &-link {
        font-size: 14px;
        font-weight: 700;
        color: $mainColor;
        transition: all 0.3s;
        &:hover {
          color: $hoverColor;
        }
        @media (max-width: $breakpoint1240) {
          font-size: 12px;
        }
      }
    }
  }
  &__logo {
    padding-top: 33px;
    flex: 1 1 auto;
    @media screen and (max-width: $burgerBreakpoint) {
      padding-top: 5px;
    }
    &__link {
      &__svg {
        width: 122px;
        height: 104px;
      }
    }
  }
  &__icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-link {
      margin-right: 73px;
      @media (max-width: $breakpoint1240) {
        margin-right: 20px;
      }
      &:last-of-type {
        margin-right: 0;
      }
      &-svg {
        width: 30px;
        height: 30px;
        fill: #0f0f0f;
        transition: all 0.3s;

        &:hover {
          fill: $hoverColor;
        }
      }
    }
  }
}

// burger

.burger {
  display: none;
  cursor: pointer;
}

// Burger menu styles
@media screen and (max-width: $burgerBreakpoint) {
  // .menu
  .menu {
    position: fixed;
    // background: #131418;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: none;

    &.active {
      display: flex;
      left: 0;
      top: 0;
      height: 100vh;
      width: 100vw;
      flex-direction: column;
      pointer-events: all;
      justify-content: center;
      align-items: center;
      z-index: 22;
      animation: fade 0.1s linear;
      background: #131418;
    }
  }

  // .burger
  .burger {
    display: block;
    position: relative;
    height: 20px;
    margin-left: 30px;
    width: 30px;
    z-index: 102;
    cursor: pointer;

    &.active-burger {
      &:before {
        background: $burgerActiveColor;
        transform: rotate(45deg);
        transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
        top: 8px;
      }

      &:after {
        background: $burgerActiveColor;
        transform: rotate(-45deg);
        bottom: 10px;
        transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
      }

      & span {
        transform: scale(0);
      }
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      height: 2px;
      width: 100%;
      background: $burgerColor;
      transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    }

    &:before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      position: absolute;
      top: 9px;
      right: 0;
      width: 100%;
      background: $burgerColor;
      height: 2px;
      transform: scale(1);
      transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    }
  }

  // .menu__item
  .menu__item {
    margin-top: 15px;
  }

  // .menu__link
  .menu__item-link {
    color: #fff !important;
  }
}

// catalog

.header__catalog {
  position: relative;
  top: -135px;
  z-index: 20;
  flex-direction: column;
  background-color: #fff;
  display: none;
  @media screen and (max-width: $burgerBreakpoint) {
    top: -50px;
  }

  &__close {
    padding: 47px 62px 47px 36px;
    background-color: rgb(15, 15, 15, 0.5);
    color: #fff;
    position: relative;
    margin: 0 0 48px 55px;
    width: 195px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.07em;
    cursor: pointer;
    @media screen and (max-width: $burgerBreakpoint) {
      padding: 15px 62px 15px 36px;
      font-size: 14px;
      line-height: 18px;
      width: 170px;
    }
    @media screen and (max-width: $breakpoint768) {
      margin: 0 0 25px 0;
      font-size: 12px;
      line-height: 16px;
      width: 150px;
    }
    @media screen and (max-width: 600px) {
      font-size: 10px;
      width: 135px;
    }

    &::after {
      content: url("../img/arrowUp.svg");
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 25px;
      color: #fff;
      width: 21px;
      height: 21px;
      @media screen and (max-width: $burgerBreakpoint) {
        width: 15px;
        height: 19px;
      }
      @media screen and (max-width: $breakpoint768) {
        width: 10px;
        height: 18px;
      }
    }
  }
  &__categ {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1020px;
    @media (max-width: $breakpoint480) {
      flex-direction: column;
      align-items: center;
    }
    &__btn {
      padding: 17px 57px;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.07em;
      @media screen and (max-width: $burgerBreakpoint) {
        padding: 12px 30px;
      }
      @media screen and (max-width: $breakpoint768) {
        padding: 10px 15px;
        font-size: 12px;
      }
      @media (max-width: $breakpoint480) {
        width: 85%;
        margin-bottom: 15px;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
  .border {
    width: 100%;
    background-color: #878787;
    height: 1px;
    margin: 41px 0 31px 0;
    @media screen and (max-width: $burgerBreakpoint) {
      margin: 15px 0;
    }
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 860px;
    @media (max-width: $breakpoint480) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__menu {
    display: flex;
    flex-direction: column;
    @media (max-width: $breakpoint480) {
      text-align: center;
      width: 250px;
    }

    &__title {
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      color: #000000;
      margin-bottom: 28px;
      @media screen and (max-width: $burgerBreakpoint) {
        font-size: 20px;
        line-height: 24px;
      }
      @media screen and (max-width: $breakpoint768) {
        font-size: 18px;
        line-height: 22px;
      }
      @media screen and (max-width: 600px) {
        font-size: 16px;
        line-height: 18px;
      }
    }
    &__item {
      margin-bottom: 25px;
      @media screen and (max-width: $burgerBreakpoint) {
        margin-bottom: 15px;
      }
      &__link {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #666666;
        transition: all 0.3s;
        @media screen and (max-width: $burgerBreakpoint) {
          font-size: 16px;
          line-height: 20px;
        }
        @media screen and (max-width: $breakpoint768) {
          font-size: 14px;
        }
        @media screen and (max-width: 600px) {
          font-size: 12px;
        }

        &:hover {
          color: $mainColor;
        }
      }
    }
  }
}

.active__catalog {
  display: flex;
}
