// ************************ Модальное окно ************************ //
// mf
.modal__wrapper {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
  display: none;

  .modal {
    background: white;
    padding: 46px 44px 31px 44px;
    width: 700px;
    border: 3px solid #0f0f0f;
    position: relative;

    &__title {
      text-align: center;
    }

    &__close {
      cursor: pointer;

      &__svg {
        position: absolute;
        width: 40px;
        height: 40px;
        top: -22px;
        right: -22px;
      }
    }
    &__container {
      display: flex;
      justify-content: center;
      margin-top: 30px;
    }
    &__tabs__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__body__link {
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      background-color: transparent;
      padding: 25px 67px;
      border: 3px solid #0f0f0f;
      transition: all 0.3s;
      cursor: pointer;
      text-transform: uppercase;
      &:first-of-type {
        padding: 25px 108px;
      }
      &.active {
        background-color: #0f0f0f;
        color: #fff;
      }
    }
    &__form__login {
      display: flex;
      flex-direction: column;
      &__button {
        margin-top: 47px;
      }
      &__forgot {
        margin-top: 17px;
        color: #878787;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        text-decoration: underline;
        text-align: center;
      }
    }
    &__form__register {
      display: flex;
      flex-direction: column;
      width: 376px;
      &__input {
        &:last-of-type {
          margin-bottom: 54px;
        }
      }
      &__button {
        padding: 23px 45px;
      }
    }
  }
}
